.Div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    justify-content: center;
    width: 100vw;

}
.left{
    justify-content: flex-start;
    /* background-color: rebeccapurple; */
    width: 100%;
    flex: 1;
}
.right{
    width: 100%;
    flex: 1;
    justify-content: flex-end;
}