.Div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  color: white;
}

.left {
  justify-content: flex-start;
  margin-left: 60px;
  /* background-color: rebeccapurple; */
  /* background-image: linear-gradient(to right top, #1c61cb, #114b99, #0f356a, #0e203e, #030816);   */

  width: 100%;
  flex: 3;
}
.right {
  flex: 1;
}
